:root {
  --primary: #3d3d3d;
  --light-gray: #e1e1e1;
  --background-color: #f7f7f7;
  --highlight: RGBA(189, 224, 252, 1);
}
* {
  box-sizing: border-box;
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
body {
  background-color: var(--background-color);
  color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 15px 15px 60px 15px;
}
@media (min-width:790px) {
  body {
    margin: 40px 40px 60px 40px;
  }
}
body h1, body h2, body h3 {
  font-weight: 400;
  letter-spacing: -.03em;
  line-height: 0.75;
  margin-bottom: 0;
  font-size: 1.75rem;
}
body p, body li {
  margin-bottom: 0;
  font-weight: 300;
}
::selection {
  background-color: var(--highlight);
}
#headshot {
  border-radius: 100px;
  margin: 15px 0 10px 0;
  width: 90px;
}

.section {
  margin-top: 60px;
}
.section:first-of-type {
  margin-top: 0px;
}
@media (min-width:790px) {
  .reading-section {
    width: 715px
  }
}
ul li {
  margin: 15px 0
}
ul.link-list li {
  display: inline-block;
  list-style: none;
  margin-right: 15px
}
ul.link-list {
  padding: 0
}
nav.breadcrumbs ul li:not(:last-child)::after {
  content: "›";
  margin-left: 15px;
}

a, a:visited {
  background-repeat: no-repeat;
  background-size: 0 100%;
  fill: inherit;
  text-decoration: underline;
  transition: all .2s ease-in-out
}
a, a:active, a:hover, a:visited {
  color: inherit;
  background-image: linear-gradient(180deg, transparent 50%, var(--highlight) 0)
}
a:active, a:hover {
  background-size: 100% 100%
}

.section.writing p:last-child::after {
  content: "⎔";
  position: relative;
  top: -2px;
}
.writing-image {
  margin-top: 1em;
  width: 100%;
}
figcaption, time {
  font-size: 1rem;
}
