:root {
  --primary: #3d3d3d;
  --light-gray: #e1e1e1;
  --background-color: #f7f7f7;
  --highlight: #FFFFB4;
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  font-family: helvetica, sans-serif;
  margin: 40px 0;
  padding-bottom: 60px;
  border-bottom: 2px solid var(--primary);
}
.key {
  margin: 40px 0;
}

.carbon-circle {
  margin: 30px 0;
  color: var(--light-gray);
  font-size: 10px;
}
@media (min-width:790px) {
  .carbon-circle {
    margin: 40px 20px;
  }
}
.carbon-circle-lg {
  font-size: 30px;
}
.carbon-circle-md {
  font-size: 15px;
}

.diagram-wrap {
  display: flex;
  flex-direction: column;
}
.diagram-wrap p {
  font-size: 0.8em;
  max-width: 230px;
}

@media (min-width:790px) {
  .label {
    max-width: 320px;
  }
  .diagram-wrap {
    flex-direction: row;
    align-items: center;
    margin-right: 60px;
  }
}


#current-atmosphere {
  background-color: var(--primary);
  height: 346.87px; /* use vw or something responsive? */
  width: 346.87px;
  border-radius: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#annual-emissions {
  background-color: var(--primary);
  height: 67.70px;
  width: 67.70px;
  border-radius: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#removal-goal {
  background-color: var(--primary);
  height: 35.68px;
  width: 35.68px;
  border-radius: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

sub {
  font-size: 12px;
}
h2, h3, h4 {

}
