:root {
  --primary: #3d3d3d;
  --primary-light: #4d4d4d;
  --light-gray: #e1e1e1;
  --background-color: #f7f7f7;
}
::selection {
  background-color: var(--light-gray);
}
* {
  box-sizing: border-box;
}
.App {
  margin: 0 15px;
}
@media (min-width: 790px) {
  .App {
    margin: 0 40px;
  }
}
.App h1, .App h2, .App h3 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}
body {
  background-color: var(--background-color);
  color: var(--primary);
  font-family: 'Rubik', sans-serif;
  font-size: 1.275rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-section.section {
  margin-top: 40px;
}
@media (min-width: 790px) {
  .welcome-section.section {
    margin-top: 160px;
  }
}
.section {
  margin-top: 80px;
  max-width: 750px;
}

.social-links ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
.social-links ul {
  padding: 0;
}

#headshot {
  border-radius: 100px;
  max-width: 150px;
}

ul li {
  margin: 15px 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: underline;
  fill: inherit;
  background-image: linear-gradient(180deg,transparent 88%, var(--primary) 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:active {
  color: inherit;
  background-image: linear-gradient(180deg,transparent 88%, var(--primary) 0);
  background-size: 100% 100%;
}

.list-style-type-circle {
  list-style-type: circle;
  color: var(--primary-light);
}

body div:last-of-type {
  margin-bottom: 40px;
}
footer {
  min-height: 70px;
  border-top: 1px dashed #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
